gramatica.dtd

<!ELEMENT pregunta (enunciado,opcion)+ #REQUIRED>
<!ELEMENT enunciado (#PCDATA) #REQUIRED>
<!ELEMENT opcion (#PCDATA)>
<!ELEMENT respuestaNum (0|1|2|3|4|5|6|7|8|9)+>
<!ELEMENT respuesta (#PCDATA)>

<!ATTLIST pregunta tipo (num|bool|test|ordenar|libre) "libre">
<!ATTLIST pregunta tema (1|2|3|4|5|6)+ #REQUIRED>
<!ATTLIST opcion tipo (correcta|incorrecta)  "incorrecta">
<!ATTLIST respuesta acept (libre|num)>

<!ENTITY autores "Mateo Fecci / Frean Quiles">