gramatica.dtd

<!ELEMENT examen (pregunta)+>
<!ELEMENT pregunta (enunciado | opcion | respuesta)* >

<!ELEMENT enunciado (#PCDATA)>
<!ELEMENT opcion (#PCDATA)>
<!ELEMENT respuestaNum (#PCDATA)><!--1|2|3|4|5|6|7|8|9|0-->
<!ELEMENT respuesta (#PCDATA)>
<!-- -->
<!ATTLIST pregunta tipo (num|boolY|boolN|testU|testM|ordenar|libre) "libre">
<!ATTLIST pregunta tema (1|2|3|4|5|6) #REQUIRED>
<!ATTLIST opcion tipo (correcta|incorrecta)  "incorrecta">
<!ATTLIST respuesta acept (libre|num)  "libre">
<!ATTLIST respuesta minimo (#CDATA) '0'>
<!ATTLIST respuesta maximo (#CDATA) '0'>
<!ATTLIST opcion orden (1,2,3) '1'>

<!-- <!ATTLIST respuesta ncol (1|2|3|4|5|6|7|8|9|0)  '9'>
<!ATTLIST respuesta nfila (1|2|3|4|5|6|7|8|9|0) '9'> -->
<!ENTITY autores "Mateo Fecci / Frean Quiles">